// text size
$text-xs: 14px;
$text-base: 16px;
$text-sm: 18px;
$text-md: 20px;
$text-lg: 25px;
$text-xl: 30px;
$text-2xl: 40px;
$text-3xl: 60px;

// text weight
$text-light: 300;
$text-regular: 400;
$text-bold: 700;

// color
$c1-100: #f3893c;
$c2-100: #381f59;
