@import "./base";
@import "./variable";
@import "./mixins";

header {
  padding: 20px 0;
  color: black;
  text-transform: uppercase;

  .logo {
    img {
      height: 100%;
    }
  }
  #btnCart {
    @include Button(15px, 20px, $text-xl, $c1-100, $c2-100);
  }
  .modal {
    .cartItem {
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      border-radius: 10px;
      margin-bottom: 20px;
      .img__Cart {
        img {
          width: 100px;
          height: 100px;
        }
      }
      .info {
        padding: 20px;
        .p__Name {
          font-size: $text-md;
        }
        .p__Price {
          font-size: $text-md;
          color: red;
        }
        input {
          display: inline-block;
          width: 30%;
        }
      }
    }
  }
}
.products {
  .products__filter {
    select {
      padding: 10px 20px;
      font-size: $text-md;
      border-radius: 10px;
      display: block;
      margin-left: auto;
      margin-right: 0;
    }
  }
  #products__content {
    .card {
      img {
        margin: 20px 0;
      }
      h5 {
        font-size: $text-md;
        color: $c1-100;
      }
      span {
        font-weight: $text-bold;
      }
      .span__price {
        font-size: $text-md;
        color: $c2-100;
        span {
          font-size: $text-lg;
        }
      }
      .btn__addCart {
        @include Button(10px, 10px, $text-md, $c1-100, $c2-100);
        margin-bottom: 20px;
      }
    }
  }
}
